*.whl filter=lfs diff=lfs merge=lfs -text
*.bib filter=lfs diff=lfs merge=lfs -text
*.tab filter=lfs diff=lfs merge=lfs -text
*.exc filter=lfs diff=lfs merge=lfs -text
*.rev filter=lfs diff=lfs merge=lfs -text
*.adj filter=lfs diff=lfs merge=lfs -text
*.adv filter=lfs diff=lfs merge=lfs -text
*.noun filter=lfs diff=lfs merge=lfs -text
*.verb filter=lfs diff=lfs merge=lfs -text
*.sense filter=lfs diff=lfs merge=lfs -text
refs/meta/config filter=lfs diff=lfs merge=lfs -text
